.flex {
  display: flex;
  text-align: left;
  margin-top: 75px;
  justify-content: center;
}

#example {
  max-height: 400px;
  margin-right: 30px;
}

#right {
  max-width: 400px;
}

#right h1 {
  font-family: 'K2D';
  color: #0099ff;
}

#right h3 {
  font-weight: lighter;
  margin-bottom: 75px;
}

#right button {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 10px;
  border: 1px grey solid;
}

#hidden {
  display: none;
}
